@model HomePageProductInitModel
@{
    Layout = "";
    Html.AddScriptParts("~/Plugins/Widgets.TypeProducts/Scripts/typeplugin.js");
    Html.AddScriptParts("~/Plugins/Widgets.TypeProducts/Scripts/shuffle.js");

    Html.AddScriptParts("~/Plugins/Widgets.TypeProducts/Scripts/public.homepagepaging.js");
    //Html.AddScriptParts("~/Plugins/Widgets.TypeProducts/Scripts/easyResponsiveTabs.js");

    // Html.AddCssFileParts("~/Plugins/Widgets.TypeProducts/Content/easy-responsive-tabs.css");
    Html.AddCssFileParts("~/Plugins/Widgets.TypeProducts/Content/custom.css");
}
@using Nop.Plugin.Widgets.TypeProducts.Models;
@using Nop.Web.Framework.UI
<div id="parentHorizontalTab"class="product-grid home-page-product-grid">
    <script>
        $( document ).ready(function() {
            HomePagePaging.init(@Model.HomePageProductPageCount,@Model.BestSellerProductPageCount,@Model.NewProductProductPageCount);
        });

    </script>
    <ul class="resp-tabs-list">
        @if (Model.HomePageProduct.Count() > 0)
        {
            <li onclick="HomePagePaging.defineDiv(HomePagePaging.productTypeDiv.homePageProduct)">@T("Homepage.Products")</li>
        }
        @if (Model.BestSellerProduct.Count() > 0)
        {
            <li onclick="HomePagePaging.defineDiv(HomePagePaging.productTypeDiv.bestSeller)">@T("Bestsellers")</li>
        }
        @if (Model.NewProduct.Count() > 0)
        {
            <li onclick="HomePagePaging.defineDiv(HomePagePaging.productTypeDiv.newProduct)">@T("Products.NewProducts")</li>
        }
    </ul>
    <div class="resp-tabs-container">
        <div class="hor_1"></div>
    @if (Model.HomePageProduct.Count() > 0)
    { 

        @Html.Partial("~/Plugins/Widgets.TypeProducts/Views/TypeProducts/ProductsHome.cshtml", Model.HomePageProduct)


    }
    @if (Model.BestSellerProduct.Count() > 0)
    {


        @Html.Partial("~/Plugins/Widgets.TypeProducts/Views/TypeProducts/ProductsBestSeller.cshtml", Model.BestSellerProduct)


    }

    @if (Model.NewProduct.Count() > 0)
    {


        @Html.Partial("~/Plugins/Widgets.TypeProducts/Views/TypeProducts/ProductsNew.cshtml", Model.NewProduct)


    }
    
</div>
    <div class="footer-buttontitle home-page-product-footer">
        <div class="footer-title" onclick="HomePagePaging.addProuduct()">
            <a>@T("Homepage.LoadMoreProduct")</a>
        </div>
    </div>
</div>
